<header class="header">
    <div class="header__container">
        <div class="header__logo">
            <img src="/img/logo.png" alt="Epio.site логотип" />
        </div>
        <form action="/search" class="header__search">
            <input type="text" name="query" placeholder="Поиск..." />
            <input type="submit" value="Найти" />
        </form>
    </div>
</header>